			
			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			<footer class="main-footer sticky footer-type-1">
				
				<div class="footer-inner">
				
					<!-- Add your copyright text here -->
					<div class="footer-text">
						&copy; 2015 
						<strong>City of Los Angeles</strong> | <a href="https://github.com/datala/bradley-tower">Github</a>
						
					</div>
					
					
					<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
					<div class="go-up">
					
						<a href="#" rel="go-top">
							<i class="fa-angle-up"></i>
						</a>
						
					</div>
					
				</div>
				
			</footer>
		</div>
	
			

	</div>
	
	<!-- Page Loading Overlay -->
	<div class="page-loading-overlay">
		<div class="loader-2"></div>
	</div>
	<!-- Bottom Scripts -->
	<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
	<script src="{{site.baseurl}}/js/TweenMax.min.js"></script>
	<script src="{{site.baseurl}}/js/resizeable.js"></script>
	<script src="{{site.baseurl}}/js/joinable.js"></script>
	<script src="{{site.baseurl}}/js/xenon-api.js"></script>
	<script src="{{site.baseurl}}/js/xenon-toggles.js"></script>


	<!-- Imported scripts on this page -->
	<script src="{{site.baseurl}}/js/xenon-widgets.js"></script>
	<script src="{{site.baseurl}}/js/devexpress-web-14.1/js/globalize.min.js"></script>
	<script src="{{site.baseurl}}/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
	<script src="{{site.baseurl}}/js/toastr/toastr.min.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="{{site.baseurl}}/js/xenon-custom.js"></script>