	<nav class="navbar horizontal-menu navbar-fixed-top navbar-minimal"><!-- set fixed position by adding class "navbar-fixed-top" -->
		
		<div class="navbar-inner">
		
			<!-- Navbar Brand -->
			<div class="navbar-brand">
				<a href="index.html" class="logo">
					<img src="http://datala.github.io/flushots/img/datala.png" width="80" alt="" class="hidden-xs" />
					<img src="http://datala.github.io/flushots/img/datala.png" width="80" alt="" class="visible-xs" />
				</a>

			</div>
				
			<!-- Mobile Toggles Links -->
			<div class="nav navbar-mobile">
							<div class="mobile-menu-toggle">
					<a href="#" data-toggle="mobile-menu-horizontal">
						<i class="fa-bars"></i>
					</a>
				</div>
				
			</div>
			
			<div class="navbar-mobile-clear"></div>
			
			
			
			<!-- main menu -->
			<ul class="navbar-nav">
			    {% for post in site.posts %}
			      <li>
			        <a href="{{ post.url }}">
						<i class="linecons-cog"></i>
						{{ post.title }}
					</a>
			      </li>
			    {% endfor %}
			</ul>
		
					
			
			<!-- notifications and other links -->
		
		</div>
		
	</nav>