<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
	<div class="page-container">
		<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
	
		<div class="main-content">
			<div class="row">
				<div class="col-sm-12"> <div class="panel panel-default"> 
					<div class="panel-heading">Mayor's Dashboard: City of Los Angeles</div> 
					<div class="panel-body"> 
						<div class="row"> 
							<div class="col-md-12"> <div class="alert alert-success"> 
								<strong>The Mayor's Dashboard </strong> tracks key metrics and outcomes from the City of Los Angeles. The platform is <a href="https://github.com/datala/bradley-tower">open-source and easily reusable</a>; <a href="https://docs.google.com/forms/d/1HHl99mPndrlveTCMcT2XuE-pyl1bsifjwppANvJJ8tY/viewform">contact us</a> if your city is interested in deploying it.
							</div> 
						</div> 
					</div> 
				</div> 
			</div> 
		</div> 
	</div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
